html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "Roboto", sans-se;
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
  background: gainsboro;
}

.sidebar {
  background-color: #6366f1;
  padding: 20px 30px;
  display: grid;
  grid-row: 1 /3;
  gap: 50px;
  grid-template-rows: 1fr 5fr 2fr;
}

.sidebar .items a {
  display: flex;
  gap: 5px;
}
.sidebar img {
  height: 30px;
}

.sidebar .items {
  margin-bottom: 10px;
}

.sidebar li {
  padding-left: 20px;
  color: white;
  font-size: 26px;
}

.sidebar #dashboard {
  align-self: flex-start;
  color: white;
  font-size: 40px;
}

.bottom {
  margin-top: 50px;
}

.header {
  grid-column: auto;
  background-color: white;
}

input {
  border-radius: 4px;
  border-style: none;
}

input::before {
  content: "";
  background-image: url("svg/shield-search.svg");
  display: inline-block;
}
